<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Licensing" type="Autodesk.Connectivity.WebServices.LicensingSection, Autodesk.Connectivity.WebServices"/>
    <sectionGroup name="Settings">
      <section name="Vault" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </sectionGroup>
  </configSections>
  
  <Licensing edition="None"/>
  <!--<Licensing edition="Professional"/>-->
  
  <Settings>
    <Vault>
      <add key="DataServer" value="localhost"/>
      <add key="FileServer" value="localhost"/>
      <add key="Vault" value="MFG124959"/>
      <add key="Username" value="Administrator"/>
      <add key="Password" value=""/>
    </Vault>
  </Settings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
</configuration>